<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cubcar Backlog Notes</title>
</head>
<body>
    <h1>Backlog Notes</h1>
    <form action="{{ url_for('add_note') }}" method="post">
        <input type="text" name="enhance_bug" placeholder="Enhance or Bug">
        <input type="text" name="description" placeholder="Description">
        <input type="text" name="details" placeholder="Details">
        <input type="checkbox" name="resolved"> Resolved
        <input type="date" name="resolved_date">
        <button type="submit">Add Note</button>
    </form>

    <ul>
        {% for note in backlognotes %}
        <li>{{ note.BacklogEnhanceBug }}: {{ note.BacklogDescription }} - {{ note.BacklogResolvedDate }}
            <a href="{{ url_for('edit_note', issue_id=note.IssueID) }}">Edit</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
